* {
    box-sizing: none;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    background-color: #b5e0eb;
    flex-wrap: wrap;
}

#header {
    height: 160px;
}

#content {
    height: 718px;
}

.container {
    overflow: hidden;
    position: relative;
    width: 960px !important;
    margin: 16px;

}

.mySlides {  
    border-radius: 16px;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
}

.item-1{
    width: 47.5%;
    max-width: 456px;
    height: 144px;
}

.item-2{
    width: 48.75%;
    max-width: 468px;
    height: 702px;
}

/* item-1 */

.item-1:nth-child(1) {
    display: none;
}

.item-1:nth-child(2) {
    position: absolute;
    left: -23.75%;
    opacity: 0.5;
}

.item-1:nth-child(3) {
    position: absolute;
    opacity: 1;
    z-index: 2;
    left: 26.25%;
}

.item-1:nth-child(4) {
    position: absolute;
    right: -23.75%;
    opacity: 0.5;
}

.item-1:nth-child(n+5) {
    display: none;
}


/* item-2 */
.item-2:nth-child(1) {
    display: none;
}

.item-2:nth-child(2) {
    position: absolute;
    left: -24.375%;
    opacity: 0.5;
}

.item-2:nth-child(3) {
    position: absolute;
    opacity: 1;
    z-index: 2;
    left: 25.625%;
}

.item-2:nth-child(4) {
    position: absolute;
    right: -24.375%;
    opacity: 0.5;
}

.item-2:nth-child(n+5) {
    display: none;
}
   
.fade {
    animation: fade 0.5s 4s ease forwards;
  }

@keyframes fade {
    to {
        opacity: 0.3;
    }
}

button {
    width: calc(100% - 16px);
    border-radius: 21px;
    background-color: #0d56a5;
    color: #ffffff;
    height: 42px;
}

/* Responsive */
@media only screen and (max-height: 979px){
    #header {
        height: 10vmax;
    }

    #content {
        height: 60vmax;
    }

    .item-1 {
        height: 10vmax;
    }

    .item-2 {
        height: 60vmax;
    }
}



